@import '@/style/common.scss';

$storeListPrefixCls: 'zd-store-list';

.#{$storeListPrefixCls} {
  min-height: 100vh;
  background-color: #F1F1F1;
  user-select: none;

  &-empty {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    >.#{$storeListPrefixCls}-img {
      margin-top: 165px;
      width: 208px;
      height: 77px;

      >img {
        width: 100%;
        height: 100%;
      }
    }

    >p {
      margin-top: 27px;
      font-size: 12px;
      color: #999;
    }
  }

  &-box {
    display: flex;
    flex-direction: column;
    position: relative;

    .#{$storeListPrefixCls}-title {
      margin: 10px auto 0;
      font-size: 12px;
      color: #999;
    }

    .#{$storeListPrefixCls}-content {
      padding: 10px 10px 60px;

      .#{$storeListPrefixCls}-item {
        margin-top: 10px;
        min-height: 44px;
        background-color: #fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;

        &:first-child {
          margin-top: 0;
        }

        &-info {
          line-height: 17px;
          font-size: 12px;
          color: #333;

          &:first-child {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
          }

          >span:first-child {
            @extend .ellipsis;
            margin-right: 5px;
          }
        }
      }
    }

  }

  &-button {
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.15);

    .am-button {
      height: 100%;
      background-color: #FC4053;
      border-radius: 0;
      font-size: 16px;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: #fff;

      &:before {
        content: none !important;
      }
    }
  }
}