$loginPrefixCls: "zd-login";
$loginFormPrexfixCls: "#{$loginPrefixCls}-form";
.#{$loginPrefixCls} {
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  color: #333;
  &-form {
    position: absolute;
    top: 164px;
    left: 12px;
    right: 12px;
    height: 318px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 6px 24px 0px rgba(255, 221, 222, 1);
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    &-item {
      height: 50px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e1e1e1; /* no */
      margin-top: 20px;
      &:first-child {
        margin-top: 48px;
      }
      .#{$loginFormPrexfixCls}-input {
        flex: 1;
        .am-list-line::after {
          opacity: 0;
        }
        input {
          color: #333;
          font-size: 14px; /* no */
        }
        input::-webkit-input-placeholder {
          color: #ccc;
        }
      }
      .#{$loginFormPrexfixCls}-code-button {
        height: 20px;
        line-height: 20px;
        width: 72px; /* no */
        box-sizing: border-box;
        text-align: right;
        border-left: 1px solid #ccc; /* no */
        color: #fd2949;
        font-size: 12px;
        &.disabled {
          color: #ccc;
        }
      }
    }
  }
  &-button {
    margin: 65px 30px 0;
    height: 48px;
    border-radius: 24px;
    background: #f05b5e;
    box-shadow: 0px 5px 20px 0px rgba(255, 195, 196, 1);
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: #fff;
    &:before {
      content: none;
    }
    &.am-button-disabled {
      box-shadow: none;
      background: #ccc;
      opacity: 1;
    }
  }
}
