* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff !important;
  font-size:14px;
  font-family:PingFangSC-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
